{% extends 'base.html' %}
{% block head %}
    <title>DonatebloodKenya | Home</title>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse" style="background:indianred ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DonateBloodKenya</a>
    </div>
    <button class="btn btn-outline-info">Contact Us</button>
  </div>
</nav>

{#    <nav class="navbar navbar-default;" style="background-color: indianred">#}
{#    <div class="container-fluid">#}
{#        <div class="navbar-header">#}
{##}
{#            <div class="navbar-brand" style="color: white"> Donatebloodkenya</div>#}
{##}
{#            <div class="collapse navbar collapse" ID="navBarSupportedContent">#}
{#                <ul class="nav navbar-nav navbar-right">#}
{#                    <li class="nav-item ">#}
{#                        <button class="btn btn-outline-success"  href="#"> Contact us</button>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}
</nav>
<div class="jumbotron-2">

    <div class="container" >

        <h1 class="text-capitalize; text-capitalize"> Welcome to Donate Blood Kenya. Be the change you wish to see! </h1>
        <p > Donate Blood Kenya is an Android Application that will act as a portal for making blood donation appointments
        to hospitals near your location. <br>Check out the code <a href="https://github.com/rbichage96/dbk_android" target="_blank">Here</a>
        </p>


    </div>




</div>

{% include 'layouts/footer.html' %}
{%  endblock%}