{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block title %}#}
{#{% if category %}{{ category.name }}{% else %}Products{% endif %}#}
{##}
{#{% endblock %}#}
{#{% block content %}#}
{##}
{#<div class="container-fluid">#}
{#    <div class="row">#}
{#        <div class="col-sm-8">#}
{#            <!--Couresel-->#}
{#            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">#}
{#                <ol class="carousel-indicators">#}
{#                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>#}
{#                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>#}
{#                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
{#                </ol>#}
{#                <div class="carousel-inner">#}
{#                    <div class="carousel-item active">#}
{#                        <img class="d-block w-100" src='{% static  "shop/cssfiles/images/create.png" %}'#}
{#                             alt="First slide" style="opacity:0.8">#}
{#                             <div class="carousel-caption d-none d-md-block">#}
{#                                    <h5>Be Creative</h5>#}
{#                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo asperiores veritatis quaerat minus illo nam!#}
{#                                        </p>#}
{#                                  </div>#}
{##}
{#                            </div>#}
{#                    <div class="carousel-item">#}
{#                        <img class="d-block w-100" src='{% static  "shop/cssfiles/images/smartphone.png" %}'#}
{#                             alt="Second slide">#}
{#                             <div class="carousel-caption d-none d-md-block">#}
{#                                    <h5> Value Your Smartphone</h5>#}
{#                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo asperiores veritatis quaerat minus illo nam!#}
{#                                        </p>#}
{#                                  </div>#}
{#                    </div>#}
{#                    <div class="carousel-item">#}
{#                        <img class="d-block w-100" src='{% static  "shop/cssfiles/images/social.png" %}'#}
{#                             alt="Third slide">#}
{#                             <div class="carousel-caption d-none d-md-block">#}
{#                                    <h5>Be Social</h5>#}
{#                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo asperiores veritatis quaerat minus illo nam!#}
{#                                        </p>#}
{#                                  </div>#}
{#                    </div>#}
{#                </div>#}
{#                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">#}
{#                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                    <span class="sr-only">Previous</span>#}
{#                </a>#}
{#                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">#}
{#                    <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                    <span class="sr-only">Next</span>#}
{#                </a>#}
{#            </div>#}
{##}
{#        </div>#}
{#        <div class="col-sm-4">#}
{##}
{#            <div class="vertical-menu">#}
{#                <h2 class="cat_title">{% if category %} {{ category.name }}{% else %}Products{% endif %}</h2>#}
{#                {% if products %}#}
{#                {% for product in products %}#}
{#                <a href="{{ product.get_absolute_url }}" class="active">#}
{#                    <img width="50%" src="{% if  product.image %}{{ product.image.url }}{% else %}{% endif %}">#}
{#                    <p>{{ product.description}}</p>#}
{#                </a>#}
{#                <p>Product: <a href="{{ product.get_absolute_url }}"> {{ product.name }}</a></p>#}
{#                <p>Price: $ {{ product.price }}</p>#}
{#                {% endfor %}#}
{#            </div>#}
{##}
{#            {% else %}#}
{#            <div class="alert-warning">#}
{#                <p class="glyphicon-alert">There are no products of this category</p>#}
{#            </div>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
{#<div class='container-fluid'>#}
{#   <h5>About Us<h5>#}
{#   <div class="jumbotron">#}
{#    We are committed to delivering best services to the cutomer wherever they are. We also offers special#}
{#    opportunity for our users through shopping vouchers and promotions.#}
{#   </div>#}
{#</div>#}
{#{% endblock %}#}














































































{% extends 'base.html' %}
{% block head %}
    <title>DonatebloodKenya | Home</title>
{% endblock %}

{% block body %}
<body class="body-2">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="position: fixed; width: 100%; z-index: 9999;background:rgba(0,0,0,0.22); color: white; margin-bottom: 20px ">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
         <a class="navbar-brand" style="font-weight: bold; color: black; font-family:MathJax_Caligraphic,sans-serif">Donate Blood Kenya</a>
      <li class="nav-item active">

    </ul>
    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right: 5px" >Sign Up</button>
      <button class="btn btn-outline-success my-2 my-sm-0">Login</button>
    </form>
  </div>
</nav>
    <nav class="navbar navbar-default navbar-fixed-top " style="background:darkred; z-index: 999;position: fixed; width: 100%">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"  style="color: white">DonateBloodKenya</a>
    </div>
      <div class="navbar navbar-right">

            <button class="btn btn-outline-info" style="color: white" href="#"><a href="/accounts/login">Login</a> </button>
            <button class="btn btn-outline-info" style="color: white; margin-left: 5px; nav-right: auto" href="#"><a href="#">Sign Up</a> </button>
  </div>
      </div>
</nav>


{% include 'layouts/jumbotron.html' %}
    <div class="container " style=" margin-bottom: 100px; margin-top: 50px">
      <!-- Example row of columns -->

         <div class="row" style="margin-top: 20px; margin-bottom: 20px">

        <hr>
        <footer class="footer-basic-centered fixed-bottom text-center" style="background: rgba(0,0,0,0.52); margin-top: 80px;position:fixed; width: 100%; margin-bottom: 0">

			<p class="footer-company-motto" style="color: white;">Motto Will Go Here </p>

			<p class="footer-links">
				<a href="#">Home</a>
                .
				<a href="#">About</a>
                .
				<a href="#">Contact Us</a>
                .
				<a href="#">Prospects</a>
                .
				<a href="#">Faq</a>

			</p>

			<p class="footer-company-name" style="color: white">DonateBloodKenya &copy; 2018</p>


		</footer>
         </div>
    </div>




</body>
{%  endblock%}