{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
    Dbk | Home
{% endblock %}


{% block body %}

    <body class="body-home">

<form class="form-signin shadow-lg p-3 mb-5 bg-white rounded" >
      <img class="mb-4" src={% static 'img/ic_launcher.png' %} alt="" width="100" height="100">
      <h1 class="h3 mb-3 font-weight-normal"> sign In to continue</h1>
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" class="form-control" placeholder="Email address" required autofocus>
        <br>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="background: darkred">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; DBK - 2018</p>
    </form>

    </body>


{% endblock %}














































































{#{% extends 'base.html' %}#}
{#{% block head %}#}
{#    <title>DonatebloodKenya | Home</title>#}
{#{% endblock %}#}
{##}
{#{% block body %}#}
{#<body class="body-2">#}
{#    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="position: fixed; width: 100%; z-index: 9999;background:rgba(0,0,0,0.22); color: white; margin-bottom: 20px ">#}
{#  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#  </button>#}
{##}
{##}
{#  <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#    <ul class="navbar-nav mr-auto">#}
{#         <a class="navbar-brand" style="font-weight: bold; color: black; font-family:MathJax_Caligraphic,sans-serif">Donate Blood Kenya</a>#}
{#      <li class="nav-item active">#}
{##}
{#    </ul>#}
{#    <form class="form-inline my-2 my-lg-0">#}
{#        <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right: 5px" >Sign Up</button>#}
{#      <button class="btn btn-outline-success my-2 my-sm-0">Login</button>#}
{#    </form>#}
{#  </div>#}
{#</nav>#}
{#    <nav class="navbar navbar-default navbar-fixed-top " style="background:darkred; z-index: 999;position: fixed; width: 100%">#}
{#  <div class="container-fluid">#}
{#    <div class="navbar-header">#}
{#      <a class="navbar-brand"  style="color: white">DonateBloodKenya</a>#}
{#    </div>#}
{#      <div class="navbar navbar-right">#}
{##}
{#            <button class="btn btn-outline-info" style="color: white" href="#"><a href="/accounts/login">Login</a> </button>#}
{#            <button class="btn btn-outline-info" style="color: white; margin-left: 5px; nav-right: auto" href="#"><a href="#">Sign Up</a> </button>#}
{#  </div>#}
{#      </div>#}
{#</nav>#}
{##}
{##}
{#{% include 'layouts/jumbotron.html' %}#}
{#    <div class="container " style=" margin-bottom: 100px; margin-top: 50px">#}
{#      <!-- Example row of columns -->#}
{##}
{#         <div class="row" style="margin-top: 20px; margin-bottom: 20px">#}
{##}
{#        <hr>#}
{#        <footer class="footer-basic-centered fixed-bottom text-center" style="background: rgba(0,0,0,0.52); margin-top: 80px;position:fixed; width: 100%; margin-bottom: 0">#}
{##}
{#			<p class="footer-company-motto" style="color: white;">Motto Will Go Here </p>#}
{##}
{#			<p class="footer-links">#}
{#				<a href="#">Home</a>#}
{#                .#}
{#				<a href="#">About</a>#}
{#                .#}
{#				<a href="#">Contact Us</a>#}
{#                .#}
{#				<a href="#">Prospects</a>#}
{#                .#}
{#				<a href="#">Faq</a>#}
{##}
{#			</p>#}
{##}
{#			<p class="footer-company-name" style="color: white">DonateBloodKenya &copy; 2018</p>#}
{##}
{##}
{#		</footer>#}
{#         </div>#}
{#    </div>#}
{##}
{##}
{##}
{##}
{#</body>#}
{#{%  endblock%}#}