{% extends 'help/base.html' %}
{% load staticfiles%}
{% block title %}
    Help Admin Dashboard
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          {% include 'help/layouts/left_sidenavbar.html' %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="col-sm-8 blog-main">
                    <div class="blog-post">
                       <h1 class="page-header text-muted" style="font-size: 26px">
                           Users Feedback
                       </h1>
                        <div class="row">
                            {% if messages %}
                                <div class="alert alert-success">
                                    {% for m in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    <div class="row">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Users</th>
                                <th>Message</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for helper in feedback_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ helper.helper }}</td>
                                    <td><a href="{% url 'helper_feedback_detail' helper.id %}">{{ helper.message|truncatewords:6 }}</a></td>
                                    <td>{{ helper.created_at|date:"M d, Y"  }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% include 'help/pagination.html' %}
                    </div>
                    </div><!-- /.blog-post -->
                </div><!-- /.blog-main -->

                <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                    <div class="sidebar-module">
                         <div class="row">
                              <h4>Search</h4>
                             <p class="pull-left">
                                 {% csrf_token %}
                                 <input type="text" name="search" id="search" placeholder="Search..." class="form-control"> </p>
                         </div>
                        <div class="row">
                            <ul id="search-results">

                            </ul>
                        </div>
                    </div>
                </div><!-- /.blog-sidebar -->
            </div><!-- /.row -->
      </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/ajax.country.js' %}" type="text/javascript"></script>
{% endblock %}