{% extends 'help/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Help Admin Dashboard
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        {% include 'help/layouts/left_sidenavbar.html' %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header text-muted" style="font-size: 26px">
              Reply to a question
          </h1>
           <div class="row">
               <div class="col-md-4">
                  <form action="" method="post">{% csrf_token %}
                      {{ form|crispy }}
                      <input type="submit" value="Save" />
                  </form>
               </div>
           </div>
        </div>
      </div>
    </div>
{% endblock %}