<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="background: darkred">
            <div class="footer-1">
        <div class="row">
          <div class="col text-center">
             &copy; 2018

          </div>
          <div class="col text-center">
            Connect with us on
                <a href="https://facebook.com/rube.bichage/" class="fa fa-facebook" style="color: white" target="_blank"></a>
                <a href="https://twitter.com/reuben_bichage/" class="fa fa-twitter" style="color: white" target="_blank"></a>
                <a href="https://www.linkedin.com/in/reuben-bichage-614b1a108" class="fa fa-linkedin" style="color: white" target="_blank"></a>
          </div>
        </div>
            </div>
      </div>
{#<div class="footer-1" >#}
{#   #}
{# Developed by:#}
{#    <a href="https://facebook.com/rube.bichage/" class="fa fa-facebook" style="color: white" target="_blank"></a>#}
{#    <a href="https://twitter.com/reuben_bichage/" class="fa fa-twitter" style="color: white" target="_blank"></a>#}
{#    <a href="https://www.linkedin.com/in/reuben-bichage-614b1a108" class="fa fa-linkedin" style="color: white" target="_blank"></a>#}
</div>
</body>
</html>