
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div class="jumbotron-2">


    <div class="container" >

        <h1 class="text-capitalize; text-capitalize"> Welcome to Donate Blood Kenya. Be the change you wish to see! </h1>
        <p > Donate Blood Kenya is an Android Application that will act as a portal for making blood donation appointments
        to hospitals near your location. <br>Check out the code <a href="https://github.com/rbichage96/dbk_android" target="_blank">Here</a>
        </p>


    </div>

</div>

</body>
</html>